if $children do foreach $children do
    :preview-children
endforeach endif
if !$children do
<div class="project foreach $parents do @slug-@index-@siblings_count endforeach foreach $parent do @slug-@index-@siblings_count-self endforeach">
    if @linkout do
      if @thumb do <a href="@linkout"><img src="@thumb" class="projectThumb" alt=""/></a> endif
      <a href="@linkout">
      <span class="projectFrame"><span class="projectTitle">
      <span class="projectDate">@date</span><br /> @title
      <img src="@root_path/public/images/arrow_right.png" alt="link"/>
      </span></span>
      </a>
    endif
    if !@linkout do
      if @thumb do <a href="@url"><img src="@thumb" class="projectThumb" alt=""/></a> endif
      <a href="@url">
      <span class="projectFrame"><span class="projectTitle">
      <span class="projectDate">@date</span><br /> @title
      </span></span>
      </a>
    endif
</div>
endif