
if !@is_current do
<div class="project @slug-@index-@siblings_count foreach $parents do @slug-@index-@siblings_count endforeach">
      if @thumb do <a href="@url"><img src="@thumb" class="projectThumb" alt=""/></a> endif
      if !@linkout do <a href="@url"> endif
      if @linkout do <a href="@linkout"> endif
      <span class="projectFrame"><span class="projectTitle">
      if @date do <span class="projectDate">@date</span><br /> endif
      @title
      if @linkout do <img src="@root_path/public/images/arrow_right.png" alt="link"/> endif
      </span></span>
      </a>
</div>
endif

