<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    
    <title>@name if @profession do / @profession endif </title>
    
    :meta
    
    <link rel="alternate" type="application/atom+xml" href="@root_path/?/feed/"/>
    <link rel="stylesheet" href="@root_path/public/docs/css/index.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="@root_path/public/docs/css/preview-boxes.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="@root_path/public/docs/fontkit/stylesheet.css" type="text/css"/>
    <link rel="shortcut icon" href="@root_path/content/favicon.ico" />
  </head>
  <body  if @background do style="background-image:url('@root_path/content/@background');" endif>
    :noscript
    <div id="outer-container">
      <div id="title">
        :title
      </div>
      
      :description
      
      :category-navigation
      
      :category-preview-boxes
      
      :footer
      <script type="text/javascript">
        document.getElementById('footer').style.display = 'none';
      </script>
      </div>
      :extra-html
	  
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="@root_path/public/docs/jsmin/jquery.min.js"><\/script>')</script>
  
    <script type="text/javascript" src="@root_path/public/docs/jsmin/jquery.freetile.min.js"></script>
    <script type="text/javascript" src="@root_path/public/docs/jsmin/jquery.tinysort.min.js"></script>
    <script type="text/javascript" src="@root_path/public/docs/jsmin/init-index.min.js"></script>
  </body>
</html>